.gameMode {
  margin: 10px;
}

mat-form-field {
  padding-left: 20px;
  padding-right: 20px;
}

table {
  margin-left:auto;
  margin-right:auto;
}

.button-group {
  float: right;
}

.full-width {
  width: 100%;
}
