<div class="container">
  <mat-card>
    <mat-card-title>New Game</mat-card-title>

    <mat-form-field>
      <mat-select placeholder="Player 1" [(value)]="newGameData.playerOne.playerType" panelClass="mat-select-panel">
        <mat-option *ngFor="let playerType of playerTypes" [value]="playerType.value">
          {{playerType.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    VS
    <mat-form-field>
      <mat-select placeholder="Player 2" [(value)]="newGameData.playerTwo.playerType" panelClass="mat-select-panel">
        <mat-option *ngFor="let playerType of playerTypes" [value]="playerType.value">
          {{playerType.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button color="primary" (click)="start()">Start</button>
    <mat-card-content>
      <app-game-view (sessionIdEventEmitter)="onNewPlayerId($event)"></app-game-view>
    </mat-card-content>
    <mat-card-footer>
      <button mat-button routerLink="/" color="warn">Main Menu</button>
    </mat-card-footer>
  </mat-card>
</div>
